* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    background-color: rgb(0, 0, 0);
    
}

.alignment {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}




.result {
    width: 100%;
    max-width: 800px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#time{
    padding: 140px 80px;
    border-radius: 50%;
    color: grey;
    border: 1px solid grey;
}

button {
    background-color: rgb(0, 0, 145);
    color: rgb(154, 154, 154);
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    transition: all 300ms ease-in-out;

}
button:focus{
    transform: scale(0.9);
    border: 0;
    box-shadow: 0px 2px 20px 0px rgb(96, 96, 255);
    color: white;
}
button:hover{
    background-color: rgb(0, 0, 95);
    color: white;
}

.pausar{
    background-color: rgb(255, 175, 26);
}

.pausar:focus{
    transform: scale(0.9);
    border: 0;
    box-shadow: 0px 2px 20px 0px orange;
    color: white;
}
.pausar:hover{
    background-color: rgb(255, 177, 32);
    color: white;
}


.flex-button{
    display: flex;
    margin-top: 30px;
    padding: 20px;
}
.flex-button button{
    margin-left: 8px;
    margin-right: 8px;
    padding: 15px 0px;
    width: 100vw;
    max-width: 150px;
}

@media (max-width: 510px) {

    .flex-button button {
        margin-left: 8px;
        margin-right: 8px;
        padding: 15px 0px;
        width: 100vw;
        max-width: 100px;
    }
    #time{
        padding: 130px 70px;
        border-radius: 50%;
        color: grey;
    }
}
